/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "AuroraVersion.h"
#include "Windows.h"

AURORA_VERSION_INFO(ImageProcessingResolver)

#endif
